html {
  background-color: #c9b5ab;
}

h1 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-style: bold;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #8f2440;
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  list-style: none;
  font-weight: bold;
}
